{
  "pullRequestAuthor": "dotnet-maestro[bot]",
  "targetBranches": [
    "main",
    "release/*"
  ],
  "mergeMethod": "squash",
  "subscriptions": [
    {
      "category": "Interactive Experiences",
      "targetBranch": "main",
      "id": "e00f474c-4abb-4cf3-bdd7-72bc4f9fcffb"
    },
    {
      "category": "WindowsAppSDK Aggregator",
      "targetBranch": "main",
      "id": "1ec6b6ad-0663-47a9-8ef7-990067b57509"
    },
    {
      "category": "WindowsAppSDK Closed",
      "targetBranch": "main",
      "id": "557b27e0-8163-4b1b-b173-e99bcee81c7b"
    },
    {
      "category": "WindowsAppSDK",
      "targetBranch": "main",
      "id": "57be40db-9f69-47be-beb4-eb42d78d3d8b"
    }
  ]
}
