<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- WebView2 and BuildTools.MSIX are now transitive WinAppSDK nuget dependencies -->
  <package id="Microsoft.Web.WebView2" version="1.0.3719.77" targetFramework="native" />
  <package id="Microsoft.Windows.SDK.BuildTools.MSIX" version="1.7.20250508.1" />
</packages>