* text=auto

# Force specific files that git doesn't know should always be CRLF
*.idl text eol=crlf
*.h text eol=crlf
*.cpp text eol=crlf
*.sln text eol=crlf
*.props text eol=crlf
*.targets text eol=crlf
*proj text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf