<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- PGO looks for an appropriate pgo database package by listing the packages on the feed. -->
    <!-- It needs to query directly from the feed that hosts the packages and not a feed that has it as an upstream. -->
    <add key="MUX-Dependencies" value="https://pkgs.dev.azure.com/ms/microsoft-ui-xaml/_packaging/MUX-Dependencies/nuget/v3/index.json" />

    <add key="localpackages" value="localpackages" />
  </packageSources>
  <config>
    <add key="repositoryPath" value="$\..\packages" />
  </config>
</configuration>