<#@ template language="C#" linePragmas="false" inherits="ModernIdlCodeGenerator<DelegateDefinition>" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="OM" #>

<# WriteAttributes(Model); #>
delegate <#= Model.ReturnType.IdlTypeName #> <#= Model.IdlTypeInfo.Name #><# this.WriteParameters(GetParameterListAsStrings(Model.Parameters)); #>
