// Copyright (c) Microsoft Corporation.
// Licensed under the MIT License. See LICENSE in the project root for license information.

Styles.xbf TEXTFILE "Styles.xbf"
ThemeResources.xbf TEXTFILE "ThemeResources.xbf"