<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <CodeCoverage>
    <EnableStaticNativeInstrumentation>True</EnableStaticNativeInstrumentation>
    <EnableDynamicNativeInstrumentation>False</EnableDynamicNativeInstrumentation>
    <EnableStaticManagedInstrumentation>False</EnableStaticManagedInstrumentation>
    <EnableDynamicManagedInstrumentation>False</EnableDynamicManagedInstrumentation>
  </CodeCoverage>
</Configuration>
