<?xml version="1.0" encoding="utf-8"?>
<!-- Enables static native instrumentation; disables dynamic native and all managed instrumentation. -->
<Configuration>
  <CodeCoverage>
    <EnableStaticNativeInstrumentation>True</EnableStaticNativeInstrumentation>
    <EnableDynamicNativeInstrumentation>False</EnableDynamicNativeInstrumentation>
    <EnableStaticManagedInstrumentation>False</EnableStaticManagedInstrumentation>
    <EnableDynamicManagedInstrumentation>False</EnableDynamicManagedInstrumentation>
  </CodeCoverage>
</Configuration>
