<#@ template language="C#" linePragmas="false" inherits="MultiFileXamlCodeGenerator<OMContextView>" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="OM" #>
<# foreach (var type in Model.GetEventArgsClasses().Where(c => c.GenerateFrameworkHFile)) {
       AddGenerator<EventArgsClass>(type.CppFrameworkGeneratedHeaderFileName, type);
   } #>
