<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="6.2.8" targetFramework="native" />
  <package id="Microsoft.UI.Xaml" version="2.7.1-prerelease.211026002" targetFramework="native" />
  <package id="MUXCustomBuildTasks" version="1.0.71" targetFramework="native" />
</packages>