<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="6.2.8" targetFramework="native" />
  <package id="Microsoft.UI.Xaml" version="2.1.190606001" targetFramework="native" />
  <package id="MUXCustomBuildTasks" version="1.0.72" targetFramework="native" />
</packages>