<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="6.1.7" targetFramework="native" />
  <package id="Microsoft.UI.Xaml" version="2.1.181217001-prerelease" targetFramework="native" />
  <package id="MUXCustomBuildTasks" version="1.0.38" targetFramework="native" />
</packages>