<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- Helper for Profile Guided Optimization -->
  <package id="Microsoft.Internal.PGO-Helpers.Cpp" version="0.5.54" />

  <!-- Test framework -->
  <package id="Microsoft.Taef" version="10.100.251104001" />

  <!-- WIL -->
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.231028.1" targetFramework="native" />
</packages>
