<#@ template debug="true" hostspecific="true" language="C#" #>
<#@ assembly name="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089, processorArchitecture=MSIL" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.IO" #>
<#@ import namespace="System" #>
<#@ import namespace="System.Reflection" #>
<#@ import namespace="System.Runtime.InteropServices.WindowsRuntime" #>
<#@ output extension=".txt" #>
<#@ include file="CommonHelpers.tt" #><#
    ClearIndent();
    string winmdPaths = Host.ResolveParameterValue(".", ".", "MetadataWinmdPaths");
    string referenceWinmds = Host.ResolveParameterValue(".", ".", "ReferenceWinmds");
    string typeHintWinmds = Host.ResolveParameterValue(".", ".", "TypeHintWinmds");

    var metadataTypes = GetTypesFromList(winmdPaths, referenceWinmds, typeHintWinmds);

    foreach(var type in metadataTypes)
    {
       // Special case for IconSource which is moving implementation from MUX to WUX, treat as *not* in set for now
       if (type.Name == "IconSource") continue;
  
       WriteLine("-filter " + MakeWindowsTypeFullName(type));
    }
    WriteLine("-filter Microsoft.UI.Private.Composition.Effects");
#>