<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0-beta2-18618-05" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.BinSkim" version="1.3.9" targetFramework="native" />
  <package id="Microsoft.Gsl" version="0.1.2.1" targetFramework="native" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0-beta2-18618-05" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0-beta2-18618-05" targetFramework="native" developmentDependency="true" />
  <package id="Microsoft.Windows.CppWinRT" version="2.0.200615.7" targetFramework="native" />
  <package id="MUXCustomBuildTasks" version="1.0.70" targetFramework="native" />
</packages>