<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />

    <!-- do not add new sources to this file. If new packages are required, push them to one of these feeds. -->
    <add key="dotnetfeed" value="https://dotnetfeed.blob.core.windows.net/dotnet-core/index.json" />
    <add key="MUX-Dependencies" value="https://pkgs.dev.azure.com/ms/microsoft-ui-xaml/_packaging/MUX-Dependencies/nuget/v3/index.json" />
    
    <add key="local" value="localpackages" />
  </packageSources>
  <config>
    <add key="repositoryPath" value="$\..\..\..\packages" />
  </config>
</configuration>