<?xml version="1.0" encoding="utf-8"?>
<!-- NOTE: Several of the versions in this file must be kept
     in sync with properties in eng\versions.props -->
<!-- Note that there are also architecture-specific pacakge config files (e.g. packages.x86.config) -->
<!-- For more information see docs\build-versioning.md -->
<packages>
  <!-- Temporary snapshot of private dependencies from the OS repo -->
  <package id="Microsoft.UI.DCPP.Dependencies.Minimal" version="18362.221031.0" />
  <!-- mini_installer.exe for Anaheim Edge
       Only used for tests: If a WebView2 test runs and the WebView2 runtime is not installed, the mini_instller installs the browser.
       Packages in this feed are created by the WinUI team from official installers published by Edge. -->
  <package id="Microsoft.UI.DCPP.Dependencies.Edge" version="128.0.2646.0" />
  <!-- Windows SDK as a NuGet package for c++ projects -->
  <package id="Microsoft.Windows.SDK.cpp" version="10.0.22621.755" />
  <!-- Windows SDK as a NuGet package for C# UWP projects -->
  <package id="Microsoft.Windows.SDK.UWP.Managed" version="10.0.22621.755" />
  <!-- Windows SDK metadata for language projections, fixed at RS5 (WinAppSDK downlevel limit)-->
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.17763.1000" />
  <!-- Metapackage for all the necessary components of .Net Native -->
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="6.2.11" />
  <!-- Test framework -->
  <package id="Microsoft.Taef" version="10.72.220819001" />
  <package id="Microsoft.Diagnostics.Tracing.TraceEvent" version="2.0.45" />
  <package id="MUXCustomBuildTasks" version="1.0.125-winui3" targetFramework="native" />
  <!-- WIL -->
  <package id="Microsoft.Windows.ImplementationLibrary" version="1.0.230202.1" targetFramework="native" />
  <!-- Runtime for c#/winrt.  Keep this in sync with \Samples\WinUIGallery\WinUIGallery\standalone.props -->
  <package id="Microsoft.Windows.CsWinRT" version="2.1.0-prerelease.240605.1" />
  <!-- For MUXControlsTestApp? -->
  <package id="Microsoft.SourceLink.AzureRepos.Git" version="1.1.0" />
  <!-- We don't compile against the CRT version that requires these forwarders, but TAEF does,
       so we need to pull down this package so we can deploy it to Helix machines. -->
  <package id="Microsoft.VCRTForwarders.140" version="1.0.6" />
  <!-- Localized MUI and resw files -->
  <package id="Microsoft.Internal.WinUILocalizationResources" version="3.0.0-exp1.240516.2" />
  <!-- Windows SDK build tools (e.g. makeappx.exe) -->
  <package id="Microsoft.Windows.SDK.BuildTools" version="10.0.22621.756" />
  <!-- AbiWinRt to convert winmd files to ABI headers -->
  <package id="Microsoft.Windows.AbiWinRT" version="2.0.210330.2" />
  <!-- TestInProduction library -->
  <!-- TIP is currently not OSS friendly. See task.ms/38973430 and task.ms/42919421 -->
  <package id="Microsoft.Windows.TestInProduction" version="2.0.2" targetFramework="native" />
  <!-- Project Caching implementations. -->
  <package id="Microsoft.MSBuildCache.Local" version="0.1.268-preview" />
  <package id="Microsoft.MSBuildCache.AzurePipelines" version="0.1.268-preview" />
  <package id="Microsoft.Web.WebView2" version="1.0.2646-prerelease" targetFramework="native" />
</packages>