name: GitGudSimilarIssues comments

on:
  issues:
    types: [opened]

jobs:
  getsimilarissues:
    runs-on: ubuntu-latest
    outputs:
      message: ${{ steps.getbody.outputs.message }}
    steps:
      - uses: actions/checkout@v4
      - id: getbody
        uses: craigloewen-msft/GitGudSimilarIssues@main
        with:
          issueTitle: ${{ github.event.issue.title }}
          issueBody: ${{ github.event.issue.body }}
          repo: ${{ github.repository }}
          similaritytolerance: "0.70"
          commentBody: | 
            Hi I'm an AI powered bot that finds similar issues based off the issue title.

             Please view the issues below to see if they solve your problem, and if the issue describes your problem please consider closing this one. Thank you!
  add-comment:
    needs: getsimilarissues
    runs-on: ubuntu-latest
    permissions:
      issues: write
    if: needs.getsimilarissues.outputs.message != ''
    steps:
      - name: Add comment
        run: gh issue comment "$NUMBER" --repo "$REPO" --body "$BODY"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NUMBER: ${{ github.event.issue.number }}
          REPO: ${{ github.repository }}
          BODY: ${{ needs.getsimilarissues.outputs.message }}
