<#@ template language="C#" linePragmas="false" inherits="CppCodeGenerator<MethodDefinition>" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="OM" #>
virtual _Check_return_ HRESULT <#= Model.ImplName #>(<#= GetParameterListAsString(Model.Parameters, Model.ReturnType) #>)<# if (Model.IsImplPureVirtual) { #> = 0<# } #>;